.main {

    // .main__slider

    &__slider {
    }

    // .main__companies

    &__companies {
    }

    // .main__apps

    &__apps {
    }

    // .main__about-app

    &__about-app {
    }

    // .main__statistics

    &__statistics {
    }

    // .main__blog

    &__blog {
    }

    // .main__quotes

    &__quotes {
    }

    // .main__questions

    &__questions {
    }

    // .main__get-started

    &__get-started {
    }

    // .main__subscribe

    &__subscribe {
    }
}
.slider-main {
    background: url("../img/main-page/bg.png") no-repeat center / cover;
    @include adaptiveValue("padding-top", 90, 40);
    font-family: "Roboto";
    // .slider-main__container

    &__container {
        display: flex;
        justify-content: center;
    }

    // .slider-main__slider

    &__slider {
        padding-bottom: rem(28);
    }

    // .slider-main__swiper

    &__swiper {
        //margin-bottom: rem(176);
    }

    // .slider-main__slide

    &__slide {

    }
    &__dotts {
        display: grid;
        grid-auto-flow: column;
        gap: rem(12);
        justify-content: center;
        margin: 0 auto;

        & .swiper-pagination-bullet { 
            position: relative;
            height: rem(8);
            width: rem(8);
            border-radius: 50%;
            background-color: #D1D6E3;
            transition: all 0.3s ease;
            cursor: pointer;
            &-active {
                background-color: #5283FF;
            }
        }
    }

    // .slider-main__slide-body

    &__slide-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: rem(176);

    }

    // .slider-main__description

    &__description {
        color: #3D4F9F;
        font-size: rem(10);
        line-height: math.div(12, 10);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: em(16, 10);
    }

    // .slider-main__title

    &__title {
        color: #3D4F9F;
        font-family: "Quicksand";
        font-weight: 300;
        font-size: rem(48);
        line-height: math.div(60, 48);
        span {
            font-weight: 500;
        }
        margin-bottom: em(28, 48);
    }

    // .slider-main__text

    &__text {
        max-width: rem(502);
        color: #8D96BD;
        font-weight: 400;
        font-size: rem(15);
        line-height: math.div(29, 15);
        letter-spacing: 0.03em;
        margin-bottom: em(20, 15);
    }

    // .slider-main__button

    &__button {
        width: rem(52);
        height: rem(52);
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
        transition: all 0.3s ease;
        &::before {
            color: #5E81FF;
            font-size: rem(11);
        }
        @media(any-hover: hover) {
            &:hover {
                box-shadow: 0px 10px 50px rgba(201, 209, 231, 1); 
            }
        }
    }
}
/*==========================================================================================*/ 

.companies-main {
    @include adaptiveValue("padding-top", 58, 40);
    @include adaptiveValue("padding-bottom", 58, 40);
    // .companies-main__container

    &__container {
    }

    // .companies-main__items

    &__items {
        display: flex;
        justify-content: space-around;
        max-width: rem(888);
        flex-wrap: wrap;
        margin: 0 auto;
        @include adaptiveValue("row-gap", 76, 40);
        column-gap: rem(20);
    }

    // .companies-main__item

    &__item {
        min-width: rem(116);
    }

    // .companies-main__link

    &__link {
        color: #D6DAE5;
        font-size: rem(24);
        transition: all 0.3s ease;
        @media(any-hover: hover) {
            &:hover {
                color: #5982E7;
            }
        }
    }
}
/*========================================================================================*/ 

.apps-main {
    background-color: #F5F8FF;
    @include adaptiveValue("padding-top", 170, 40);
    @include adaptiveValue("padding-bottom", 170, 40);
    font-family: "Roboto";
    // .apps-main__container

    &__container {
    }

    // .apps-main__body

    &__body {
    }
}
.body-main-apps {
    display: flex;
    justify-content: center;
    @include adaptiveValue("gap", 55, 30);

    @media(max-width: $tablet) {
        flex-direction: column;
        align-items: center;
    }
    // .body-main-apps__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: rem(27);
        padding: rem(42) 0;

        @media(max-width: $tablet) {
            padding: 0;
            align-items: center;
        }
    }

    // .body-main-apps__description

    &__description {
        color: #3D4F9F;
        font-size: rem(10);
        line-height: math.div(12, 10);
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    // .body-main-apps__title

    &__title {
        font-family: "Quicksand";
        color: #3D4F9F;
        font-size: rem(36);
        line-height: math.div(45, 36);
        span {
            font-weight: 400;
        }
        @media(max-width: $tablet) {
            text-align: center;
        }
    }

    // .body-main-apps__text

    &__text {
        letter-spacing: 0.03em;
        color: #8D96BD;
        font-size: rem(15);
        line-height: math.div(29, 15);
        font-weight: 400;
        max-width: rem(413);
        margin-bottom: rem(20);

        @media(max-width: $tablet) {
            margin-bottom: 0;
            text-align: center;
        }
    }

    // .body-main-apps__buttons

    &__buttons {
        display: flex;
    }

    // .body-main-apps__button

    &__button {
        font-size: rem(13);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: rem(6);
        &::before {
            font-size: rem(7);
            margin-top: em(4, 7);
        }
        
        width: rem(130);
        font-family: "Quicksand";
        display: flex;
        align-items: center;
        justify-content: center;
        &._video {
            background-color: #4C85FF;
            box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
            padding: rem(13) rem(25);
            color: white;
            font-weight: 700;
            transition: all 0.3s ease;
            @media(any-hover:hover) {
                &:hover {
                    background-color: #5E81FE;
                }
            }
        }

        &._features {
            color: #ADB4D2;
            padding: rem(13) rem(21);
            border: 1px solid #ADB4D2;
            transition: all 0.3s ease;
            @media(any-hover:hover) {
                &:hover {
                    color: #8D96BD;
                    border: 1px solid #8D96BD;
                }
            }
        }
    }

    // .body-main-apps__link

    &__link {
        font-size: rem(13);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: rem(6);
        &::before {
            font-size: rem(7);
            margin-top: em(4, 7);
        }
    }

    // .body-main-apps__image

    &__image {
        position: relative;
        width: rem(650);
        @media(max-width: $tablet) {
            padding-bottom: 67%;
            width: 80%;
        }
        @media(max-width: em(600)) {
            padding-bottom: 67%;
            width: 100%;
        }

        img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
/*=======================================================================================*/

.about-app {
    @include adaptiveValue("padding-top", 140, 40);
    @include adaptiveValue("padding-bottom", 170, 40);
    background: url("../img/main-page/about-app/clouds-bg.png") 40% 30% no-repeat;
    // .about-app__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    // .about-app__description

    &__description {
        font-family: "Roboto";
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: rem(10);
        line-height: math.div(12, 10);
        color: #3D4F9F;
        margin-bottom: rem(20);
    }

    // .about-app__title

    &__title {
        font-family: "Quicksand";
        text-align: center;
        color: #3D4F9F;
        font-size: rem(24);
        line-height: math.div(30, 24);
        @include adaptiveValue("margin-bottom", 92, 40);
    }

    // .about-app__content

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(67);
        @include adaptiveValue("margin-bottom", 92, 40);
    }

    // .about-app__buttons

    &__buttons {
        display: flex;
        align-items: center;
        text-align: center;
        gap: rem(48);

        @media(max-width: $mobileSmall) {
            flex-direction: column;
            gap: rem(20);
        }
    }

    // .about-app__button

    &__button {
        padding: rem(13) rem(15);
        width: rem(113);
        max-height: rem(43);
        border-radius: 2px;
        text-align: center;
        font-family: "Quicksand";
        transition: all 0.3s ease;
        font-weight: 700;
        font-size: rem(13);
        &._read-more {
            background-color: #FFD7D7;
            color: #D43F3F;
            @media(any-hover: hover) {
                &:hover {
                    color: #FFD7D7; 
                    background-color: #D43F3F;
                }
            }
        }

        &._get-started {
            background-color: #D2E1FF;
            color: #3A79FF;
            @media(any-hover: hover) {
                &:hover {
                    color: #D2E1FF; 
                    background-color: #3A79FF;
                }
            }
        }
    }

    // .about-app__or

    &__or {
        color: #ADB3CB;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: rem(11);
        line-height: math.div(19, 11);
    }
}
.content-about-app {

    // .content-about-app__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: rem(140);
    }

    // .content-about-app__image

    &__image {
        position: relative;
        width: rem(69);
        height: rem(69);
        border-radius: 50%;
        background-color: #F1F5FF;
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("margin-bottom", 33, 20);
    }

    // .content-about-app__title

    &__title {
        font-family: "Open Sans";
        font-weight: 700;
        color: #4074F8;
        font-size: rem(14);
        line-height: math.div(25, 14);
        @include adaptiveValue("margin-bottom", 25, 15);
    }

    // .content-about-app__text

    &__text {
        color: #ADB3CB;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: rem(11);
        line-height: math.div(19, 11);
    }
}
/*======================================================================================*/ 

.statistics-main {
    background: linear-gradient(to right, #6888FF 50%, #E0E9FF 50%);
    @include adaptiveValue("padding-top", 66, 40);
    @include adaptiveValue("padding-bottom", 66, 40);
    font-family: "Quicksand";

    @media(max-width: $mobile) {
        background: linear-gradient(to bottom, #6888FF 50%, #E0E9FF 50%);
    }
    // .statistics-main__container

    &__container {
        display: flex;
        justify-content: center;
        gap: rem(180);

        @media(max-width: $mobile) {
            flex-direction: column;
            align-items: center;
            gap: rem(90);
        }
    }

    // .statistics-main__body

    &__body {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        gap: rem(25);

        
        &._productivity {
            align-items: flex-end;
            text-align: right;
            color: white;
            @media(max-width: $mobile) {
                align-items: center;
                text-align: center;
            }
        }

        &._use {
            color: #5E80FF;
            @media(max-width: $mobile) {
                align-items: center;
                text-align: center;
            }
        }
        
    }

    // .statistics-main__image

    &__image {
        
        position: relative;
        width: rem(66);
        height: rem(66);
        display: flex;
        align-items: center;
        justify-content: center;
        &._wider {
            width: rem(72);
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    // .statistics-main__count

    &__count {
        font-weight: 400;
        letter-spacing: 0.03em;
        font-size: rem(48);
    }

    // .statistics-main__text

    &__text {
        max-width: rem(260);
        letter-spacing: 0.03em;
        font-size: rem(18);
        line-height: math.div(23, 18);
    }
}
/*========================================================================================*/ 

.blog-main {
    background-color: #F5F8FF;
    @include adaptiveValue("padding-top", 104, 40);
    @include adaptiveValue("padding-bottom", 104, 40);
    // .blog-main__container

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    // .blog-main__description

    &__description {
        font-family: "Roboto";
        font-size: rem(10);
        line-height: math.div(12, 10);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: rem(20);
    }

    // .blog-main__title

    &__title {
        color: #3D4F9F;
        font-family: "Quicksand";
        font-size: rem(24);
        line-height: math.div(30, 24);
        @include adaptiveValue("margin-bottom", 92, 20);
    }

    // .blog-main__body

    &__body {
        width: 100%;
        max-width: rem(1155);
        display: flex;
        align-items: center;
        @include adaptiveValue("margin-bottom", 113, 30);
        justify-content: center;
        @include adaptiveValue("gap", 75, 15, 1440, 992, 1);
    }
    // .blog-main__slider

    &__slider {
        width: 100%;
        min-height: 0;
        min-width: 0;
 
    }

    // .blog-main__swiper

    &__swiper {
        
    }

    // .blog-main__slide

    &__slide {
        display: flex;
        gap: rem(67);
        background-color: white;
        border: 1px solid #D8E3FE;
        box-shadow: 0px 15px 50px #EFF4FF;
        @include adaptiveValue("padding-top", 63, 35);
        @include adaptiveValue("padding-bottom", 63, 35);
        @include adaptiveValue("padding-right", 38, 20);
        @include adaptiveValue("padding-left", 38, 20);
        @media(max-width: em(1080)) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: rem(40);
        }

    }

    // .blog-main__images

    &__images {
        display: grid;
        gap: rem(13);
        grid-template-columns:  2fr 1fr;
        grid-template-rows: 1fr;
    }

    // .blog-main__image

    &__image {
        &._big-img {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    // .blog-main__content

    &__content {
    }
}
.content-blog-main {
    display: flex;
    flex-direction: column;
    gap: rem(31);
    // .content-blog-main__title

    &__title {
        font-family: "Quicksand";
        font-weight: 400;
        font-size: rem(36);
        line-height: math.div(45, 36);
        color: #3D4F9F;
    }

    // .content-blog-main__text

    &__text {
        max-width: rem(408);
        font-family: "Roboto";
        font-weight: 400;
        letter-spacing: 0.03em;
        font-size: rem(14);
        line-height: math.div(27, 14);
        color: #8D96BD;
        flex: 1 1 auto;
    }

    // .content-blog-main__buttons

    &__buttons {
        display: flex;
        gap: rem(23);
        @media(max-width: em(1080)) {
            justify-content: center;
        }
        @media(max-width: $mobileSmall) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .content-blog-main__button-link

    &__button-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(13) rem(15);
        width: rem(113);
        max-height: rem(43);
        border-radius: 2px;
        text-align: center;
        font-family: "Quicksand";
        transition: all 0.3s ease;
        font-weight: 700;
        font-size: rem(13);
        background-color: #D2E1FF;
            color: #3A79FF;
            @media(any-hover: hover) {
                &:hover {
                    color: #D2E1FF; 
                    background-color: #3A79FF;
                }
            }
    }

    // .content-blog-main__button

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        padding: rem(13) rem(15);
        max-height: rem(43);
        text-align: center;
        font-family: "Quicksand";
        transition: all 0.3s ease;
        font-weight: 700;
        font-size: rem(13);
        color: #A6B6DA;
        @media(any-hover: hover) {
            &:hover {
                color: #8D96BD;
            }
        }
    }

    &__dotts {
        display: grid;
        grid-auto-flow: column;
        gap: rem(12);
        justify-content: center;
        margin: 0 auto;

        & .swiper-pagination-bullet { 
            position: relative;
            height: rem(8);
            width: rem(8);
            border-radius: 50%;
            background-color: #D1D6E3;
            transition: all 0.3s ease;
            cursor: pointer;
            &-active {
                background-color: #5283FF;
            }
        }
    }

    &__button-prev {
        &::before {
            transition: all 0.3s ease;
            color: #A8B4E5;
            font-size: rem(23);
            transform: rotate(180deg);
        }
        @media(any-hover: hover) {
            &:hover {
                cursor: pointer;
                color: #8D96BD;
            }
        }
        @media(any-hover: hover) {
            &:hover {
                cursor: pointer;
                &::before {
                    color: #8D96BD;
                }
            }
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__button-next {
        &::before {
            transition: all 0.3s ease;
            color: #A8B4E5;
            font-size: rem(23);
        }
        @media(any-hover: hover) {
            &:hover {
                cursor: pointer;
                &::before {
                    color: #8D96BD;
                }
            }
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
}
/*======================================================================================*/ 

.quotes-main {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    @include adaptiveValue("padding-top", 109, 40);
    @include adaptiveValue("padding-bottom", 109, 40);
    // .quotes-main__container

    &__container {
        display: flex;
        @include adaptiveValue("gap", 132, 40, 1440, 992, 1);

        @media(max-width: $tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .quotes-main__content

    &__content {
    }

    // .quotes-main__slider

    &__slider {
        max-width: rem(700);
        min-width: 0;
        display: flex;
        flex-direction: column;
        gap: rem(78);

        @media(max-width: $tablet) {
            max-width: rem(423);
        }
        @media(max-width: $mobileSmall) {
            max-width: 100%;
        }
    }

    // .quotes-main__swiper

    &__swiper {
        min-width: 0;
        & .swiper-slide-next {
            transition: opacity 0.3s ease;
            opacity: 0.45;
        }
    }

    // .quotes-main__slide

    &__slide {
        background: #FFFFFF;
        border: 1px solid #D8E3FE;
        box-shadow: 0px rem(5) rem(50) #F3F5FA;
        padding: rem(41) rem(70);
        max-width: rem(423);
        position: relative;
        
        @media(max-width: $tablet) {
            max-width: 100%;
        }
    }

    // .quotes-main__quote

    &__quote {
        font-family: "Roboto";
        font-weight: 400;
        font-size: rem(14);
        line-height: math.div(24, 14);
        letter-spacing: 0.03em;
        color: #676F95;
    }

    // .quotes-main__photo

    &__photo {
        width: rem(62);
        height: rem(62);
        border-radius: 50%;
        position: absolute;
        right: 40%;
        bottom: rem(-31);
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__dotts {
        display: grid;
        grid-auto-flow: column;
        gap: rem(12);
        justify-content: center;
        margin: 0 auto;

        & .swiper-pagination-bullet { 
            position: relative;
            height: rem(8);
            width: rem(8);
            border-radius: 50%;
            background-color: #D1D6E3;
            transition: all 0.3s ease;
            cursor: pointer;
            &-active {
                background-color: #5283FF;
            }
        }
    }
}
.content-quotes {
    padding-top: rem(37);
    display: flex;
    flex-direction: column;
    max-width: rem(333);
    @media(max-width: $tablet) {
        padding-top: 0;
        align-items: center;
        text-align: center;
    }
    // .content-quotes__description

    &__description {
        font-family: "Roboto";  
        font-size: rem(10);
        line-height: math.div(12, 10);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3D4F9F;
        @include adaptiveValue("margin-bottom", 31, 15, 1440, 992, 1);

        
    }

    // .content-quotes__title

    &__title {
        font-family: 'Quicksand';
        font-size: rem(36);
        line-height: math.div(45, 36);
        color: #3D4F9F;
        margin-bottom: rem(14);
    }

    // .content-quotes__text

    &__text {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: rem(12);
        line-height: math.div(23, 12);
        letter-spacing: 0.03em;
        color: #A4ABC8;
        
    }
}
/*=======================================================================================*/ 

.questions-main {
    @include adaptiveValue("padding-top", 175, 40);
    @include adaptiveValue("padding-bottom", 175, 40);
    // .questions-main__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .questions-main__description

    &__description {
        font-family: "Roboto";
        font-size: rem(10);
        line-height: math.div(12, 10);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3D4F9F;
        margin-bottom: rem(20);
    }

    // .questions-main__title

    &__title {
        font-family: "Quicksand";
        font-size: rem(24);
        line-height: math.div(30, 24);
        text-align: center;
        color: #3D4F9F;
        margin-bottom: rem(68);
    }

    // .questions-main__content

    &__content {
    }
}
.content-questions-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(743);
    // .content-questions-main__wrapper

    &__wrapper {
        width: 100%;
        padding: 0 rem(15);
        border-bottom: 1px solid #D8E3FE;
    }

    // .content-questions-main__question

    &__question {
        height: rem(60);
        padding-bottom: rem(15);
        font-family: 'Quicksand';
        font-size: rem(15);
        line-height: math.div(19, 15);
        letter-spacing: 0.03em;
        color: #8E96B7;
        display: flex;
        align-items: center;
        gap: rem(24);
        transition: all 0.3s ease;
        @media(any-hover: hover) {
            &:hover {
                color: #495274;
                cursor: pointer;
            }
        }
        &::before {
            transition: all 0.3s ease;
            font-size: rem(9);
            display: flex;
            align-items: center;
        }
        &._open {
            &::before {
                transition: all 0.3s ease;
                transform: rotate(180deg);
            }
        }
    }

    // .content-questions-main__answer

    &__answer {
        display: flex;
        gap: rem(62);
        padding-bottom: rem(53);
        @include adaptiveValue("padding-left", 65, 30);
        transition: all 0.3s ease;
        &._active {
            opacity: 0;
            visibility: hidden;
        }
        @media(max-width: $mobile) {
            flex-direction: column;
            gap: rem(20);
        }
    }

    // .content-questions-main__text

    &__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: rem(14);
        line-height: math.div(27, 14);
        letter-spacing: 0.03em;
        color: #8D96BD;
        max-width: rem(391);
    }

    // .content-questions-main__button-link

    &__button-link {
        padding: rem(13) rem(15);
        background: #E8ECF4;
        border-radius: 2px;
        font-family: 'Quicksand';
        font-size: rem(13);
        display: flex;
        align-items: center;
        text-align: center;
        color: #7382A3;
        max-height: rem(43);
        align-self: center;

        transition: all 0.3s ease;
        @media(any-hover: hover) {
            &:hover {
                color: #E8ECF4;
                background-color: #7382A3;
            }
        }
    }
}
/*=====================================================================================*/ 

.get-started-main {
    @include adaptiveValue("padding-top", 91, 40);
    @include adaptiveValue("padding-bottom", 91, 40);
    background: url("../img/main-page/get-started/bg.png") no-repeat center / cover;
    // .get-started-main__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    // .get-started-main__description

    &__description {
        font-family: "Roboto";
        font-size: rem(10);
        line-height: math.div(12, 10);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: rem(16);
    }

    // .get-started-main__title

    &__title {
        font-family: "Quicksand";
        font-weight: 300;
        font-size: rem(48);
        line-height: math.div(60, 48);
        color: #FFFFFF;
        margin-bottom: rem(28);
        span {
            font-weight: 500;
        }
    }

    // .get-started-main__text

    &__text {
        font-family: "Roboto";
        font-weight: 400;
        font-size: rem(15);
        line-height: math.div(29, 15);
        letter-spacing: 0.03em;
        color: #FFFFFF;
        max-width: rem(712);
        margin-bottom: rem(28);
    }

    // .get-started-main__buttons

    &__buttons {
        display: flex;
    }

    // .get-started-main__button-link

    &__button-link {
        min-height: rem(43);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Quicksand";
        font-size: rem(13);
        &._white {
            background-color: white;
            padding: rem(13) rem(17);
            font-weight: 700;
            color: #565F82;
            box-shadow: 0px rem(5) rem(15) #6480E8;

            transition: all 0.3s ease;
            @media(any-hover: hover) {
                &:hover {
                   color: #3D4F9F;
                   box-shadow: 0px rem(10) rem(15) #6480E8;
                }
            }
        }

        &._transparent {
            color: #C7D3FF;
            border: 1px solid #C7D3FF;
            padding: rem(13) rem(8);

            transition: all 0.3s ease;
            @media(any-hover: hover) {
                &:hover {
                    color: white;
                    border: 1px solid white;
                }
            }
        }
    }
}
/*========================================================================================*/ 

.subscribe-main {
    @include adaptiveValue("padding-top", 119, 40);
    @include adaptiveValue("padding-bottom", 119, 40);
    // .subscribe-main__container

    &__container {
        display: flex;
        justify-content: center;
        @include adaptiveValue("gap", 80, 40, 1440, 992, 1);
        @media(max-width: $mobile) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .subscribe-main__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: rem(18);
        @media(max-width: $mobile) {
            text-align: center;
        }
    }

    // .subscribe-main__title

    &__title {
        font-family: "Quicksand";
        font-weight: 700;
        font-size: rem(18);
        line-height: math.div(22, 18);
        color: #3D4F9F;
    }

    // .subscribe-main__text

    &__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: rem(14);
        line-height: math.div(27, 14);
        letter-spacing: 0.03em;
        color: #8D96BD;
        max-width: rem(330);
    }

    // .subscribe-main__form

    &__form {
        display: flex;
        align-items: center;
        gap: rem(14);
        width: rem(477);
        @media(min-width: $mobile) {
            flex: 0 0 rem(477);
        }
        @media(max-width: em(550)) {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    // .subscribe-main__input

    &__input {
        padding: rem(21) rem(23);
        font-family: 'Quicksand';
        font-weight: 700;
        font-size: rem(13);
        color: #7A85AD;       
        background: #EFEFF7;
        border-radius: 5px;
        @media(min-width: em(550)) {
            flex: 0 0 rem(279);
        }
        @media(max-width: em(550)) {
            width: 100%;
        }
    }

    // .subscribe-main__button

    &__button {
        background: #4D6CE1;
        box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
        border-radius: rem(5);
        font-family: "Quicksand";
        font-weight: 700;
        font-size: rem(13);
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
        padding: rem(22) rem(62);
        transition: all 0.3s ease;
        @media(any-hover: hover) {
            &:hover {
                box-shadow: 0px 5px 20px rgba(116, 104, 255, 0.7);
            }
        }
        @media(min-width: em(550)) {
            flex: 0 0 rem(184);
        }
        @media(max-width: em(550)) {
            width: 100%;
        }
    }
}









